extends layout

block content
  h1= title
  p Welcome to the #[em NBA Store], built with Express.js!

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:

    ul
      li #[strong Categories: !{data.category_count}] 
      li #[strong Items: !{data.item_count}] 
