extends layout

block styles
  link(rel='stylesheet' href='/stylesheets/home.css')

block content
  div(class="home")
    div(class="home__container")
      header(class="home__header")
        img(class="home__image" src="/images/optimistictrousers.jpg" alt="smiling pair of pants")
        button(class="home__button") ADD NEW CATEGORY
          div(class="home__icon") +

      if error
        p Error getting dynamic content.
      else
        div(class="home__content")
          p(class="home__content-description") The NBA Store has the following record counts:

          ul
            li #[strong Categories: !{data.category_count}] 
            li #[strong Items: !{data.item_count}] 

      h1(class="home__title")= title

      nav(class="home__navigation")
        div(class="home__card")
          h2(class="home__category") Jerseys
          div(class="home__card-content")
            img(class="home__image" src="/images/basketball-jersey.png")
            img(class="home__image" src="/images/icons8-external-link.svg")
          p(class="home__description") Description of jerseys
        div(class="home__card")
          h2(class="home__category") Jerseys
          div(class="home__card-content")
            img(class="home__image" src="/images/basketball-jersey.png")
            img(class="home__image" src="/images/icons8-external-link.svg")
          p(class="home__description") Description of jerseys
      
      footer(class="home__footer")
        a(class="home__link" href="https://www.flaticon.com/free-icons/basketball-jersey" title="basketball jersey icons") Basketball jersey icons created by Pixel Buddha - Flaticon
        a(class="home__link" target="_blank" href="https://icons8.com/icon/zWS3SNRj7odb/external-link") External Link icon by 
          a(class="home__link" target="_blank" href="https://icons8.com") Icons8
