extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/form.css')

block content
    h1=title

    form(class="form" method="POST" action="")
        div.form-group
            label(class="form__label" for='name') Name:
            input(id="name" name="name" class="form__control" required="true" placeholder="Name of category")
        div.form-group
            label(class="form__label" for='description') Description
            textarea(id="description" name="description" class="form__textarea" required="true" placeholder="Description of category")
        button(class="form__button" type="submit") Submit

    if errors
        ul
            for error in errors
                li!= error.msg