doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/global.css')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="/images/optimistictrousers.jpg" type="image/x-icon")
    block styles
  body
    header(class="header")
      nav(class="header__navigation")
        input(type="checkbox" id="check")
        label(for="check" class="header__menu")
          div(class="header__bar")
          div(class="header__bar")
          div(class="header__bar")
        a(href="/")
          img(class="header__image" src="/images/optimistictrousers.jpg" alt="smiling pair of pants")
        ul(class="header__list")
          li(class="header__item")
            a(class="header__link" href="/") Categories
          li(class="header__item")
            a(class="header__link" href="/item") Items
          li(class="header__item")
            a(class="header__link" href="/iteminstance") Item Stock
    main
      block content
    footer(class="footer")
      a(class="footer__link" href="https://www.flaticon.com/free-icons/basketball-jersey" title="basketball jersey icons") Basketball jersey icons created by Pixel Buddha - Flaticon
      a(class="footer__link" target="_blank" href="https://icons8.com/icon/zWS3SNRj7odb/external-link") External Link icon by 
        a(class="footer__link" target="_blank" href="https://icons8.com") Icons8
      a(class="footer__link" target="_blank" href="https://github.com/OptimisticTrousers") Created by Tony Isern

