doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/global.css')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    block styles
  body
    header(class="header")
      a(href="/")
        img(class="header__image" src="/images/optimistictrousers.jpg" alt="smiling pair of pants")
      a(class="header__link" href="/category/create") ADD NEW CATEGORY
          div(class="header__icon") +
      a(class="header__link" href="/item/create") ADD NEW ITEM
          div(class="header__icon") +
      a(class="header__link" href="/iteminstance/create") ADD NEW ITEM INSTANCE
          div(class="header__icon") +
    main
      block content
    footer(class="footer")
      a(class="footer__link" href="https://www.flaticon.com/free-icons/basketball-jersey" title="basketball jersey icons") Basketball jersey icons created by Pixel Buddha - Flaticon
      a(class="footer__link" target="_blank" href="https://icons8.com/icon/zWS3SNRj7odb/external-link") External Link icon by 
        a(class="footer__link" target="_blank" href="https://icons8.com") Icons8

