doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/global.css')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="/images/optimistictrousers.jpg" type="image/x-icon")
    block styles
  body
    header(class="header")
      nav(class="header__navigation")
        input(type="checkbox" id="check" checked="checked")
        label(for="check" class="header__menu")
          div(class="header__bar")
          div(class="header__bar")
          div(class="header__bar")
        a(class="header__logo" href="/")
          img(class="header__image" src="/images/optimistictrousers.jpg" alt="smiling pair of pants")
        ul(class="header__list")
          li(class="header__item")
            a(class="header__link" href="/accessories") Accessories
          li(class="header__item")
            a(class="header__link" href="/collectibles") Collectibles
          li(class="header__item")
            a(class="header__link" href="/footwear") Footwear 
          li(class="header__item")
            a(class="header__link" href="/category") Categories
    block content
    div(class="info-bar main__info-bar")
      div(class="info-bar__item")
        img(class="info-bar__icon" src="/images/truck.svg")
        div(class="info-bar__texts")
          div(class="info-bar__text") FREE SHIPPING
          div(class="info-bar__description") on all orders $50+
      div(class="info-bar__item")
        img(class="info-bar__icon" src="/images/money.svg")
        div(class="info-bar__texts")
          div(class="info-bar__text") CASH ON DELIVERY
          div(class="info-bar__description") Opt to pay on receipt of your order
      div(class="info-bar__item")
        img(class="info-bar__icon" src="/images/arrow-counter-clockwise.svg")
        div(class="info-bar__texts")
          div(class="info-bar__text") 45 DAY RETURN
          div(class="info-bar__description") Returns are free of charge
      div(class="info-bar__item")
        img(class="info-bar__icon" src="/images/clock.svg")
        div(class="info-bar__texts")
          div(class="info-bar__text") OPEN 7 DAYS A WEEK
          div(class="info-bar__description") 8AM - 9PM
    footer(class="footer")
      div(class="footer__container")
        | Made by 
        a(class="footer__link" href="https://www.tonyisern.com") Tony Isern
        |  using MongoDB, Express, and Node. 
      div(class="footer__text")
        | View the code at this project's
        a(class="footer__container" href="https://www.tonyisern.com") GitHub repo
    div(class="admin-window")
      label(class="admin-window__label")
        span(class="admin-window__title") ADMIN ACTIONS
      div(class="admin-window__content")
        div(class="admin-window__links")
          span(class="admin-window__task") Create New:
          a(href="/category/create" class="admin-window__link") Category
          a(href="/item/create" class="admin-window__link") Item
          a(href="/iteminstance/create" class="admin-window__link") Item Instance
        div(class=`admin-window__links ${!(item || category || iteminstance) && "admin-window__links--disabled"}`)
          span(class="admin-window__task") Current Page:
          a(href=(item || category || iteminstance) && (item || category || iteminstance).url + "/update" class="admin-window__link admin-window__link--update") Update
          a(href=(item || category || iteminstance) && (item || category || iteminstance).url + "/delete" class="admin-window__link admin-window__link--delete") Delete


