.delete {
  display: flex;
  flex-direction: column;
}

.delete__description {
  margin-top: 16px;
  font-size: 18px;
  margin-bottom: 0;
}

.delete__container {
  display: flex;
  column-gap: 16px;
}

.delete__button {
  height: 45px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  border-radius: 6px;
  margin-top: 16px;
  box-sizing: border-box;
  font-family: inherit;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.delete__button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.delete__button--cancel {
  border: 1px solid black;
}

.delete__button--cancel:hover {
  background-color: rgb(245, 245, 245);
}

.delete__button--confirm {
  background-color: rgb(254, 76, 80);
  color: white;
}

.delete__button--confirm:hover {
  background-color: rgb(255, 119, 122);
}

.delete__item {
    margin-top: 16px;
}
