:root {
  --border-size: 4px;
}

.detail {
  max-width: 800px;
  margin: 0 auto;
  border-radius: var(--border-size);
  background-color: #eaeef0;
  padding: 2rem 3rem;
}

.detail__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.detail__count {
  color: #838484;
  font-weight: 900;
  margin-bottom: 1rem;
}

.detail__description {
    margin-bottom: 30px;
}

.detail__price {
  font-weight: 900;
}

.detail__links {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.detail__link {
  padding: 1rem 3rem;
  width: 100%;
  color: #145cc3;
  box-sizing: border-box;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  border: none;
  border-radius: var(--border-size);
  background-color: #f7f7f7;
  transition: all ease-in 0.4s;
  cursor: pointer;
}

.detail__link:hover {
  background-color: #d7d7d7;
}

.detail__list {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: var(--border-size);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.detail__article:nth-child(1) {
  border-top-right-radius: var(--border-size);
  border-top-left-radius: var(--border-size);
}

.detail__article:nth-last-child(1) {
  border-bottom-right-radius: var(--border-size);
  border-bottom-left-radius: var(--border-size);
}

.detail__article {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
}
/* 
.detail__article:not(:last-child) {
  border-bottom: 3px solid#f2f2f2;
} */
