/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form {
  width: 100%;
}

.main__content {
  margin-top: 12px;
}

.detail__image-container--bordered {
  border: 1px solid gray;
  cursor: pointer;
  position: relative;
}

.detail__instructions {
  position: absolute;
  top: 50%;
  font-size: 32px;
}

.detail__image {
  z-index: 1;
}

.detail__input--hidden,
.detail__input[name="picture"] {
  border: 1px solid transparent;
  width: 0;
}

.detail__input {
  border: none;
  border-bottom: 1px solid gray;
}

.detail__input--price,
.detail__input--title,
.detail__select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.detail__label--item {
  color: #757575;
}

.detail__input--title {
  padding-left: 6px;
  border: none;
  border-bottom: 1px solid gray;
}

.detail__input--sizes {
  font-size: 24px;
}

.detail__input--price {
  width: 135px;
}

.detail__input[type="number"] {
  -moz-appearance: textfield;
}

.detail__select {
  width: 100%;
}

.detail__input--sizes,
.detail__select {
  margin-top: 12px;
  margin-left: 6px;
}

.detail__textarea {
  width: 90%;
  font-size: inherit;
  font-family: inherit;
  height: 200px;
  padding: 6px;
  box-sizing: border-box;
  resize: none;
}

.detail__group {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}

.detail__buttons {
  display: flex;
  column-gap: 16px;
}

.detail__button,
.detail__link {
  height: 45px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  border-radius: 6px;
  margin-top: 16px;
  box-sizing: border-box;
  font-family: inherit;
}

.detail__button {
  color: white;
  background-color: black;
}

.detail__button:hover {
  opacity: 0.75;
}

.detail__link--cancel {
  border: 1px solid black;
  color: black;
}

.detail__link--cancel:hover {
  background-color: rgb(245, 245, 245);
}
