h1 {
  text-align: center;
  color: black;
}
.form {
  display: grid;
  place-items: center;
  padding-bottom: 2rem;
}

.form__form {
  padding: 2rem;
  width: 450px;
  background-color: white;
  border-radius: 8px;
  color: black;
  box-shadow: 10px 0 25px 0 rgba(0, 0, 0, 0.25);
}

.form__control {
  border-radius: 8px;
  font-size: 1rem;
  height: 50px;
  padding: 0px 15px;
  vertical-align: middle;
  background: transparent;
  border: 2px solid #e8e8e8;
}

select {
    padding-right: 50px;
}

.form__group:not(.form__group:nth-child(1)) {
  margin-top: 30px;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form__textarea {
  border-radius: 8px;
  height: 100px;
  font-size: 1rem;
  vertical-align: middle;
  padding: 10px 15px;
  background: transparent;
  border: 2px solid #e8e8e8;
  resize: vertical;
}

.form__button {
  background-color: #2c3ccb;
  border-radius: 5px;
  border: none;
  color: white;
  width: 100%;
  padding: 0.75rem 0rem;
  margin-top: 30px;
  cursor: pointer;
  font-size: 0.9rem;
  height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.4s ease-out 0s;
}

.form__button:hover {
  background-color: rgb(44, 60, 203, 0.7);
}

@media(max-width: 858px) {
  .form {
    margin-top: 8rem;
  }
}

@media(max-width: 520px) {
  .form__form {
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
  }
}
