@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Goldplay";
  src: url(../fonts/GoldplayAlt-Bold.ttf);
}

@font-face {
  font-family: "Vilane";
  src: url(../fonts/Vilane\ Semi\ Bold.ttf);
}

@font-face {
  font-family: "Isidora";
  src: url(../fonts/FontsFree-Net-Isidora-Soft.ttf);
}

html,
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  color: black;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/halftone-yellow.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

p {
  margin: 0;
}

li {
  font-size: 1.5rem;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 6rem;
}

.header__link {
  padding: 2rem 4rem;
  border-radius: 50px;
  color: black;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: white;
  font-weight: 900;
  border: none;
  box-shadow: 15px 15px 50px 0 rgba(0, 0, 0, 0.5);
  font-family: "Goldplay";
  cursor: pointer;
}

.header__icon {
  background-color: #375af2;
  display: grid;
  place-items: center;
  color: white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 1rem;
  box-shadow: 5px 0 15px 0 rgba(0, 0, 0, 0.5);
}

.header__image {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 15px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1225px) {
  .header {
    flex-direction: column;
    row-gap: 16px;
    padding: 2rem 0rem;
  }
  .header__link {
    box-sizing: border-box;
    border-radius: 0;
    width: 100%;
    font-size: 3rem;
  }
  .header__icon {
    margin-left: auto;
  }
}

@media (max-width: 708px) {
  .header__link {
    font-size: 2rem;
    gap: 4px;
    vertical-align: middle;
    display: initial;
  }
  .header__icon {
    display: none;
  }
}