@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Goldplay";
  src: url(../fonts/GoldplayAlt-Bold.ttf);
}

@font-face {
  font-family: "Vilane";
  src: url(../fonts/Vilane\ Semi\ Bold.ttf);
}

@font-face {
  font-family: "Isidora";
  src: url(../fonts/FontsFree-Net-Isidora-Soft.ttf);
}

/* GLOBAL */

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  color: black;
  /* background-image: url("/images/halftone-yellow.png"); */
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 60px;
}

li {
  font-size: 1.5rem;
  color: black;
}

p {
  margin: 0;
}

.hidden {
  display: none;
}

.underline {
  width: 60px;
  height: 6px;
  background-color: rgb(254, 76, 80);
}

/* INFO-BAR */

.main__info-bar {
  margin-top: 41px;
}

.info-bar {
  height: 100px;
  width: 1120px;
  display: flex;
  margin-top: auto;
  margin-bottom: 48px;
  padding-top: 48px;
}

.info-bar__item {
  flex: 1;
  background: rgb(243, 243, 243);
  border-right: 1px solid white;
  display: flex;
  align-items: center;
  padding: 0 25px 0 25px;
  box-sizing: border-box;
}

.info-bar__icon {
  width: 30px;
  height: 30px;
}

.info-bar__texts {
  padding-left: 22px;
  font-weight: 600;
}

.info-bar__description {
  font-size: 12px;
  color: rgb(104, 104, 104);
}

/* HEADER */

.header {
  background-color: #0082e6;
  width: 100%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.header__navigation {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#check {
  display: none;
}

.header__menu {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  z-index: 2;
}

.header__bar {
  background-color: white;
  width: 30px;
  height: 5px;
}

.header__list {
  float: right;
  margin-right: 20px;
}

.header__item {
  display: inline-block;
  margin: 0 5px;
}

.header__link {
  color: white;
  border-radius: 3px;
  padding: 7px 13px;
  background-color: #375af2;
  font-weight: 900;
  border: none;
  box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.5);
  font-family: "Goldplay";
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    transform 0.3s ease, box-shadow 0.3s ease;
}

.header__link:hover {
  background: #1b9bff;
  transition: 0.5s;
}

.header__image {
  z-index: 1;
  width: 75px;
  height: 75px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 15px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.header__image:hover {
  opacity: 0.7;
}

.header__logo {
  z-index: 2;
}

/* FOOTER */

.footer {
  width: 100vw;
  height: 120px;
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__link {
  font-weight: 600;
  color: rgb(254, 76, 80);
  text-decoration: underline;
}

/* ADMIN WINDOW */

.admin-window {
  position: fixed;
  width: 340px;
  right: 0;
  top: 20%;
  display: flex;
  border-radius: 8px 0 0 8px;
  transform: translateX(296px);
  transition: 0.5s;
  overflow: hidden;
  color: white;
  z-index: 2;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(57, 57, 89, 0.92);
}

.admin-window:hover {
  transform: translateX(1px);
}

.admin-window__label {
  min-width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-lr;
  background-color: rgba(14, 14, 33, 0.92);
}

.admin-window__title {
  transform: rotate(180deg);
}

.admin-window__content {
  display: flex;
  flex: 1;
  font-size: 16px;
  text-align: center;
  padding: 20px;
  background-color: rgba(28, 28, 51, 0.92);
  font-weight: 300;
  column-gap: 20px;
}

.admin-window__link {
  padding: 4px 10px 4px 10px;
  border-radius: 4px;
  border: 1px solid white;
  transition: 0.3s;
}

.admin-window__links:not(.admin-window__links--disabled)
  .admin-window__link:not(.admin-window__link--delete):hover {
  background-color: rgb(77, 77, 108, 0.92);
}

.admin-window__links {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.admin-window__links *:not(:last-child) {
  margin-bottom: 8px;
}

.admin-window__link--delete {
  background-color: rgb(254, 76, 80);
  border-color: rgb(254, 76, 80);
}

.admin-window__links:not(.admin-window__links--disabled)
  .admin-window__link--delete:hover {
  background-color: rgb(255, 119, 122);
}

.admin-window__links--disabled {
  opacity: 0.4;
}

.admin-window__links--disabled .admin-window__link {
  pointer-events: none;
}

/* https://stackoverflow.com/questions/1734618/how-to-increase-the-gap-between-text-and-underlining-in-cs */

@media (max-width: 858px) {
  .header__navigation {
    flex-direction: row-reverse;
  }
  .header__menu {
    display: flex;
  }
  .header__list {
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    background: #2c3e50;
    top: 0;
    left: 0;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.5s;
    padding-top: 10rem;
    display: grid;
    z-index: 1;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px;
  }
  .header__item {
    display: block;
  }
  .header__link {
    font-size: 3rem;
    padding: 0.5rem 2rem;
  }
  #check:checked ~ ul {
    left: -150%;
  }
}
