.home {
  min-height: 100%;
}

.home__card {
  padding: 2rem;
  background-color: rgb(196, 191, 184);
  border-radius: 26px;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  box-shadow: 0 5px 55px 0 rgba(0, 0, 0, 0.25);
}

.home__subtitle {
  margin-left: 1rem;
  font-weight: 900;
  font-size: 2rem;
}

.home__images {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
}

.home__image {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 30%;
}

.home__title {
  margin-top: 0;
  padding: 0 1rem;
  font-size: 4rem;
  text-align: center;
  color: black;
  font-family: "Vilane";
}

.home__navigation {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  place-content: center;
  gap: 64px;
  padding: 2rem 5rem;
}

.home__category {
  color: #4d6df0;
}

.home__category-description {
  padding: 2rem 1rem;
  color: black;
  font-family: "Poppins";
  height: 38px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Vilane";
  font-size: 2rem;
}

.home__description {
  color: black;
  padding-left: 2rem;
}

.home__footer {
  padding: 1rem;
  line-height: 1.5;
  background-color: #4d6df0;
  margin-top: auto;
  height: 8%;
  display: grid;
  place-items: center;
}

.home__link {
  cursor: pointer;
}

.home__link--footer {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 4px;
  text-decoration-color: #a7e8bd;
  color: white;
}

.home__link--category {
  text-decoration: none;
}

@media (max-width: 440px) {
  .home__navigation {
    padding: 1rem;
  }
}
