@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf)
}

@font-face {
  font-family: "Goldplay";
  src: url(../fonts/GoldplayAlt-Bold.ttf);
}

@font-face {
  font-family: "Vilane";
  src: url(../fonts/Vilane\ Semi\ Bold.ttf);
}

@font-face {
  font-family: "Isidora";
  src: url(../fonts/FontsFree-Net-Isidora-Soft.ttf);
}

.home {
  border-radius: 16px;
  height: 100%;
}

.home__container {
  color: white;
  min-height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/halftone-yellow.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.home__card {
  background-color: rgb(196, 191, 184);
  border-radius: 40px;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  box-shadow: 0 5px 55px 0 rgba(0, 0, 0, 0.25);
}

.home__category {
  margin-left: 1rem;
  font-weight: 900;
  font-size: 2rem;
}

.home__card-content {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
}

.home__button {
  padding: 2rem 4rem;
  border-radius: 100px;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  font-weight: 900;
  border: none;
  box-shadow: 0 10px 150px 0 currentColor;
  font-family: "Goldplay";
}

.home__icon {
  background-color: #375af2;
  display: grid;
  place-items: center;
  color: white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  box-shadow: -10px 0 80px 0 black;
}

.home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 6rem;
}

.home__image {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 30%;
}

.home__title {
  margin-top: 0;
  padding: 0 1rem;
  font-size: 4rem;
  text-align: center;
  color: black;
  font-family: "Vilane";
}

.home__navigation {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  place-content: center;
  gap: 64px;
  padding: 1rem 5rem;
}

.home__category {
  color: #4d6df0;
}

.home__description {
  padding: 2rem 1rem;
  color: black;
  font-family: "Poppins";
}

.home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Vilane";
  font-size: 2rem;
}

.home__content-description {
  color: black;
  padding-left: 2rem;
}

.home__footer {
  padding: 1rem;
  line-height: 1.5;
  background-color: #4d6df0;
  margin-top: auto;
  height: 8%;
  display: grid;
  place-items: center;
}

.home__link {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 4px;
  text-decoration-color: #a7e8bd;
  cursor: pointer;
  color: white;
}

li {
  font-size: 1.5rem;
  color: black;
}

@media (max-width: 600px) {
  .home__header {
    flex-direction: column;
    row-gap: 16px;
    padding: 2rem 0rem;
  }
}

@media (max-width: 440px) {
  .home__navigation {
    padding: 1rem;
  }
}
