body,
html {
  height: 100%;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

p {
  margin: 0;
}

.main {
  min-height: 100%;
  color: white;
  min-height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/halftone-yellow.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  align-items: center;
}
